<div class="global-page accred-accreditation-mobile accreditation-list">
    <div class="title-bar flex-container">
            <h1 class="page-title">Accréditation</h1>
            <mat-icon class="mat-icon mat-icon-right" svgIcon="x"></mat-icon>
    </div>
    <div class="search-bar">
        <div class="accred-input-wrapper">
            <div class="input-container icon-left">
                <mat-icon class="input-icon icon-16" mat-list-icon svgIcon="search"></mat-icon>
                <input id="accred-example-input" class="accred-input" type="text" placeholder="Rechercher…">
            </div>
        </div>
    </div>
    <div class="bt-bar">
        <button class="accred-button accred-button-white selected">White button</button><button class="accred-button accred-button-white">White button</button>
    </div>

    <div class="result-counter">10 Résultats</div>
    <div class="page-content flex-container">
        <div class="accred-list-accreditation">
            <!--Personne accréditée-->
            <div class="result-block">
                <div class="block-content">
                    <div class="user-infos flex-container">
                        <div class="avatar"><img src="assets/imgs/avatar-sample.jpg"></div>
                        <div class="name">Jean-Loup de La Batellerie <span class="grey">164486</span></div>
                        <div class="tag-container"><mat-chip class="accred-info-tag accred-info-tag--active">
                            Active
                        </mat-chip></div>
                    </div>
                    <div class="additional-infos">
                        <div class="line1 flex-container"><span class="grey">Unité</span><span>LASE - CF967</span></div>
                        <div class="line2 flex-container"><span class="grey">Échéance</span><span>14 / 01 / 2021</span></div>
                    </div>
                </div>
            </div>

            <div class="result-block">
                <div class="block-content">
                    <div class="user-infos flex-container">
                        <div class="avatar"><img src="assets/imgs/avatar-sample.jpg"></div>
                        <div class="name">Jean-Loup de La Batellerie <span class="grey">164486</span></div>
                        <div class="tag-container"><mat-chip class="accred-info-tag accred-info-tag--active">
                            Active
                        </mat-chip></div>
                    </div>
                    <div class="additional-infos">
                        <div class="line1 flex-container"><span class="grey">Unité</span><span>LASE - CF967</span></div>
                        <div class="line2 flex-container"><span class="grey">Échéance</span><span>14 / 01 / 2021</span></div>
                    </div>
                </div>
            </div>

            <div class="result-block">
                <div class="block-content">
                    <div class="user-infos flex-container">
                        <div class="avatar"><img src="assets/imgs/avatar-sample.jpg"></div>
                        <div class="name">Jean-Loup de La Batellerie <span class="grey">164486</span></div>
                        <div class="tag-container"><mat-chip class="accred-info-tag accred-info-tag--active">
                            Active
                        </mat-chip></div>
                    </div>
                    <div class="additional-infos">
                        <div class="line1 flex-container"><span class="grey">Unité</span><span>LASE - CF967</span></div>
                        <div class="line2 flex-container"><span class="grey">Échéance</span><span>14 / 01 / 2021</span></div>
                    </div>
                </div>
            </div>

            <div class="result-block">
                <div class="block-content">
                    <div class="user-infos flex-container">
                        <div class="avatar"><img src="assets/imgs/avatar-sample.jpg"></div>
                        <div class="name">Jean-Loup de La Batellerie <span class="grey">164486</span></div>
                        <div class="tag-container"><mat-chip class="accred-info-tag accred-info-tag--active">
                            Active
                        </mat-chip></div>
                    </div>
                    <div class="additional-infos">
                        <div class="line1 flex-container"><span class="grey">Unité</span><span>LASE - CF967</span></div>
                        <div class="line2 flex-container"><span class="grey">Échéance</span><span>14 / 01 / 2021</span></div>
                    </div>
                </div>
            </div>

            <div class="result-block">
                <div class="block-content">
                    <div class="user-infos flex-container">
                        <div class="avatar"><img src="assets/imgs/avatar-sample.jpg"></div>
                        <div class="name">Jean-Loup de La Batellerie <span class="grey">164486</span></div>
                        <div class="tag-container"><mat-chip class="accred-info-tag accred-info-tag--active">
                            Active
                        </mat-chip></div>
                    </div>
                    <div class="additional-infos">
                        <div class="line1 flex-container"><span class="grey">Unité</span><span>LASE - CF967</span></div>
                        <div class="line2 flex-container"><span class="grey">Échéance</span><span>14 / 01 / 2021</span></div>
                    </div>
                </div>
            </div>

            <div class="result-block">
                <div class="block-content">
                    <div class="user-infos flex-container">
                        <div class="avatar"><img src="assets/imgs/avatar-sample.jpg"></div>
                        <div class="name">Jean-Loup de La Batellerie <span class="grey">164486</span></div>
                        <div class="tag-container"><mat-chip class="accred-info-tag accred-info-tag--active">
                            Active
                        </mat-chip></div>
                    </div>
                    <div class="additional-infos">
                        <div class="line1 flex-container"><span class="grey">Unité</span><span>LASE - CF967</span></div>
                        <div class="line2 flex-container"><span class="grey">Échéance</span><span>14 / 01 / 2021</span></div>
                    </div>
                </div>
            </div>

            <div class="result-block">
                <div class="block-content">
                    <div class="user-infos flex-container">
                        <div class="avatar"><img src="assets/imgs/avatar-sample.jpg"></div>
                        <div class="name">Jean-Loup de La Batellerie <span class="grey">164486</span></div>
                        <div class="tag-container"><mat-chip class="accred-info-tag accred-info-tag--active">
                            Active
                        </mat-chip></div>
                    </div>
                    <div class="additional-infos">
                        <div class="line1 flex-container"><span class="grey">Unité</span><span>LASE - CF967</span></div>
                        <div class="line2 flex-container"><span class="grey">Échéance</span><span>14 / 01 / 2021</span></div>
                    </div>
                </div>
            </div>

            <div class="result-block">
                <div class="block-content">
                    <div class="user-infos flex-container">
                        <div class="avatar"><img src="assets/imgs/avatar-sample.jpg"></div>
                        <div class="name">Jean-Loup de La Batellerie <span class="grey">164486</span></div>
                        <div class="tag-container"><mat-chip class="accred-info-tag accred-info-tag--active">
                            Active
                        </mat-chip></div>
                    </div>
                    <div class="additional-infos">
                        <div class="line1 flex-container"><span class="grey">Unité</span><span>LASE - CF967</span></div>
                        <div class="line2 flex-container"><span class="grey">Échéance</span><span>14 / 01 / 2021</span></div>
                    </div>
                </div>
            </div>

            <div class="result-block">
                <div class="block-content">
                    <div class="user-infos flex-container">
                        <div class="avatar"><img src="assets/imgs/avatar-sample.jpg"></div>
                        <div class="name">Jean-Loup de La Batellerie <span class="grey">164486</span></div>
                        <div class="tag-container"><mat-chip class="accred-info-tag accred-info-tag--active">
                            Active
                        </mat-chip></div>
                    </div>
                    <div class="additional-infos">
                        <div class="line1 flex-container"><span class="grey">Unité</span><span>LASE - CF967</span></div>
                        <div class="line2 flex-container"><span class="grey">Échéance</span><span>14 / 01 / 2021</span></div>
                    </div>
                </div>
            </div>
    </div>  
 </div> <!--END accred-accreditation-form-->
