<div class="global-page accred-accreditation-mobile accreditation-list permission-mobile">
    <div class="title-bar flex-container">
            <h1 class="page-title">Accréditation</h1>
            <mat-icon class="mat-icon mat-icon-right" svgIcon="x"></mat-icon>
    </div>
    <div class="sub-title-bar flex-container">
        <h4>Parution dans l'annuaire Web</h4>
        <mat-slide-toggle active [disableRipple]="true" class="accred-toggle"></mat-slide-toggle>
    </div>
   

    
    <div class="page-content">
        <div class="accred-list-permission">
            <!--item-list-->
            <div class="block-content">
                <span class="grey">Service</span><br>Annuaire EPFL
            </div>
            <div class="block-content">
                <span class="grey">Abréviation</span><br>botweb
            </div>
            <div class="block-content">
                <span class="grey">Ressource</span><br>EPFL - Unité
            </div>
            <div class="block-content">
                <span class="grey">Type d’autorisation</span><br>Propriété
            </div>
            <div class="block-content">
                <span class="grey">Hérité de</span><br>Hôte - Accès IT
            </div>
            
    </div>
 </div> <!--END accred-accreditation-form-->
 <div class="footer-bar-fixed">
    <button class="accred-button accred-button-white">
        <mat-icon class="mat-icon mat-icon-left" svgIcon="trash-2"></mat-icon> Retirer autorisation
    </button>
    <button disabled class="accred-button accred-button-red">
        <mat-icon class="mat-icon mat-icon-right" svgIcon="check"> </mat-icon> Valider
    </button>
</div>